
.header{ 
    text-align: center;
    background-image:url("../images/comic.jpg");
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-family: impact;
    font-size: 40px;
    font-style: italic;
    padding: 40px;
 }

 body{
    background-color:navy;

 }

 #h2{
     text-align: center;
     color: rgb(197, 158, 29);
     -webkit-text-stroke: 1px black;
     text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-style: italic;
     font-family: impact;
     font-size: 30px;
     margin-top: 20px;
   }

   .rules{
     background-color: white;
     margin-top: 20px;
     margin-left: 100px;
     border: 1px solid;
     padding: 20px;
     box-shadow: 5px 10px rgb(129, 10, 10);
     font-family: comic sans ms;
     text-align: center;
     line-height:25px;
     float: left;
     width: 300px;
   }
   h3 {
     text-decoration:underline;
  
    }
   .mainbox{
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid;
    padding: 40px;
    box-shadow: 5px 10px rgb(129, 10, 10);
    font-family: comic sans ms;
    text-align: center;
    line-height:25px;
    float: left;
    width: 500px;

   }
   .wrongguessbox{
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px rgb(129, 10, 10);
    font-family: comic sans ms;
    text-align: center;
    line-height:25px;
    float: left;
    width: 350px;
    
}
#wrongguess{
  color:red;
  font-size: 20px;
}
.countdown{
  background-color: white;
    margin-top: 20px;
    margin-right: 150px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px rgb(129, 10, 10);
    font-family: comic sans ms;
    text-align: center;
    line-height:25px;
    float: right;
    width: 200px;
}
#countdownnumber{
  color:red;
  font-size: 20px;
}
.wins{
  background-color: white;
    margin-top: 20px;
    margin-right: 250px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px rgb(129, 10, 10);
    font-family: comic sans ms;
    text-align: center;
    line-height:25px;
    float: right;
    width: 200px;
}
#wincounter{
  color:red;
  font-size: 20px;
}
.loses{
  background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px rgb(129, 10, 10);
    font-family: comic sans ms;
    text-align: center;
    line-height:25px;
    float: right;
    width: 200px;
}
#losscounter{
  color:red;
  font-size: 20px;
}
